In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('melted_data.csv')

In [8]:
df.head()

,Unnamed: 0,Country Name,Country Code,Series Name,Series Code,Year,Value
0,0,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,1990,58.32298422
1,1,Afghanistan,AFG,Arable land (% of land area),AG.LND.ARBL.ZS,1990,12.12762369
2,2,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Building,CC.CO2.EMSE.BL,1990,0.08
3,3,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Bunker F...,CC.CO2.EMSE.BF,1990,0.02
4,4,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Electric...,CC.CO2.EMSE.EH,1990,0.27

In [9]:
df['Series Code'].unique()

array(['AG.LND.AGRI.ZS', 'AG.LND.ARBL.ZS', 'CC.CO2.EMSE.BL',
       'CC.CO2.EMSE.BF', 'CC.CO2.EMSE.EH', 'CC.CO2.EMSE.EN',
       'CC.CO2.EMSE.FE', 'CC.CO2.EMSE.IP', 'CC.CO2.EMSE.LU',
       'CC.CO2.EMSE.MC', 'CC.CO2.EMSE.OF', 'CC.CO2.EMSE.EL',
       'CC.CO2.EMSE.IL', 'CC.CO2.EMSE.TR', 'CC.ELEC.CON',
       'NY.GDP.MKTP.CD', 'NY.GDP.MKTP.KD.ZG', 'NY.GDP.PCAP.CD',
       'CC.GHG.GRPE', 'CC.EG.CONS.COAL.PC', 'CC.EG.CONS.GAS.PC',
       'CC.EG.CONS.OIL.PC', 'CC.GHG.PECA', 'SP.POP.TOTL',
       'AG.LND.FRST.ZS', 'SP.URB.TOTL.IN.ZS'], dtype=object)

In [23]:
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
df.dtypes

Unnamed: 0        int64
Country Name     object
Country Code     object
Series Name      object
Series Code      object
Year              int64
Value           float64
dtype: object

In [30]:
df.describe

<bound method NDFrame.describe of      Domain Code                      Domain  Area Code (M49)         Area  \
0             ET  Temperature change on land                4  Afghanistan
1             ET  Temperature change on land                4  Afghanistan
2             ET  Temperature change on land                4  Afghanistan
3             ET  Temperature change on land                4  Afghanistan
4             ET  Temperature change on land                4  Afghanistan
...          ...                         ...              ...          ...
7792          ET  Temperature change on land              716     Zimbabwe
7793          ET  Temperature change on land              716     Zimbabwe
7794          ET  Temperature change on land              716     Zimbabwe
7795          ET  Temperature change on land              716     Zimbabwe
7796          ET  Temperature change on land              716     Zimbabwe

      Element Code             Element  Months Code               Months  \
0             7271  Temperature change         7020  Meteorological year
1             7271  Temperature change         7020  Meteorological year
2             7271  Temperature change         7020  Meteorological year
3             7271  Temperature change         7020  Meteorological year
4             7271  Temperature change         7020  Meteorological year
...            ...                 ...          ...                  ...
7792          7271  Temperature change         7020  Meteorological year
7793          7271  Temperature change         7020  Meteorological year
7794          7271  Temperature change         7020  Meteorological year
7795          7271  Temperature change         7020  Meteorological year
7796          7271  Temperature change         7020  Meteorological year

      Year Code  Year Unit  Value Flag Flag Description
0          1990  1990   °C  0.730    E  Estimated value
1          1991  1991   °C -0.168    E  Estimated value
2          1992  1992   °C -0.294    E  Estimated value
3          1993  1993   °C  0.220    E  Estimated value
4          1994  1994   °C  0.430    E  Estimated value
...         ...   ...  ...    ...  ...              ...
7792       2018  2018   °C  0.453    E  Estimated value
7793       2019  2019   °C  0.925    E  Estimated value
7794       2020  2020   °C  0.389    E  Estimated value
7795       2021  2021   °C -0.125    E  Estimated value
7796       2022  2022   °C -0.490    E  Estimated value

[7797 rows x 14 columns]>

In [29]:
df.groupby("Series Name" = "Agricultural land (% of land area)").head()

SyntaxError: keyword can't be an expression (1704337269.py, line 1)

# Temp Data

In [26]:
temp_df = pd.read_csv('FAOSTAT_data_en_5-15-2023.csv')

In [27]:
temp_df.dtypes

Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Months Code           int64
Months               object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
dtype: object