In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('melted_data.csv')

In [8]:
df.head()

,Unnamed: 0,Country Name,Country Code,Series Name,Series Code,Year,Value
0,0,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,1990,58.32298422
1,1,Afghanistan,AFG,Arable land (% of land area),AG.LND.ARBL.ZS,1990,12.12762369
2,2,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Building,CC.CO2.EMSE.BL,1990,0.08
3,3,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Bunker F...,CC.CO2.EMSE.BF,1990,0.02
4,4,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Electric...,CC.CO2.EMSE.EH,1990,0.27

In [9]:
df['Series Code'].unique()

array(['AG.LND.AGRI.ZS', 'AG.LND.ARBL.ZS', 'CC.CO2.EMSE.BL',
       'CC.CO2.EMSE.BF', 'CC.CO2.EMSE.EH', 'CC.CO2.EMSE.EN',
       'CC.CO2.EMSE.FE', 'CC.CO2.EMSE.IP', 'CC.CO2.EMSE.LU',
       'CC.CO2.EMSE.MC', 'CC.CO2.EMSE.OF', 'CC.CO2.EMSE.EL',
       'CC.CO2.EMSE.IL', 'CC.CO2.EMSE.TR', 'CC.ELEC.CON',
       'NY.GDP.MKTP.CD', 'NY.GDP.MKTP.KD.ZG', 'NY.GDP.PCAP.CD',
       'CC.GHG.GRPE', 'CC.EG.CONS.COAL.PC', 'CC.EG.CONS.GAS.PC',
       'CC.EG.CONS.OIL.PC', 'CC.GHG.PECA', 'SP.POP.TOTL',
       'AG.LND.FRST.ZS', 'SP.URB.TOTL.IN.ZS'], dtype=object)

In [10]:
df_filtered = df.loc[df['Series Code'].isin(['AG.LND.AGRI.ZS','AG.LND.ARBL.ZS','CC.CO2.EMSE.BL','CC.CO2.EMSE.BF','CC.CO2.EMSE.EH','CC.CO2.EMSE.EN','CC.CO2.EMSE.FE','CC.CO2.EMSE.IP','CC.CO2.EMSE.LU','CC.CO2.EMSE.MC','CC.CO2.EMSE.OF','CC.CO2.EMSE.EL','CC.CO2.EMSE.IL','CC.CO2.EMSE.TR','CC.ELEC.CON','NY.GDP.MKTP.CD','NY.GDP.MKTP.KD.ZG','NY.GDP.PCAP.CD','CC.GHG.GRPE','CC.EG.CONS.COAL.PC','CC.EG.CONS.GAS.PC','CC.EG.CONS.OIL.PC','CC.GHG.PECA','SP.POP.TOTL','AG.LND.FRST.ZS','SP.URB.TOTL.IN.ZS'])]

In [11]:
df.dtypes

Unnamed: 0       int64
Country Name    object
Country Code    object
Series Name     object
Series Code     object
Year             int64
Value           object
dtype: object