In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [4]:
file_path_1 = Path('../data_files/final_draft_dataset_2.csv')
file_path_2 = Path('../data_files/country_income_levels.csv')
file_path_3 = Path('../data_files/income_classifiers_by_year.csv')
df_metrics = pd.read_csv(file_path_1)
df_classifier = pd.read_csv(file_path_2)
df_income_key = pd.read_csv(file_path_3)

In [6]:
df_metrics.columns

Index(['Unnamed: 0', 'country_name', 'Year', 'Total_Population',
       'Urban_Population', 'GDP', 'GDP_per_Capita', 'GDP_Growth', 'GHG_Growth',
       'GHG_Emissions_per_Capita', 'Agricultural_Land', 'Arable_Land',
       'Forested_Land', 'CO2_Emissions_by_Sector_Building',
       'CO2_Emissions_by_Sector_Bunker_Fuels',
       'CO2_Emissions_by_Sector_Electricity_Heat',
       'CO2_Emissions_by_Sector_Energy',
       'CO2_Emissions_by_Sector_Fugitive_Emissions',
       'CO2_Emissions_by_Sector_Industrial_Processes',
       'CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry',
       'CO2_Emissions_by_Sector_Manufacturing_Construction',
       'CO2_Emissions_by_Sector_Other_Fuel_Combustion',
       'CO2_Emissions_by_Sector_Total_excluding_LUCF',
       'CO2_Emissions_by_Sector_Total_Including_LUCF',
       'CO2_Emissions_by_Sector_Transportation', 'Net_Electricity_Consumption',
       'Daily_Coal_Consumption_per_capita', 'Daily_Gas_Consumption_per_capita',
       'Daily_Oil_Consumption_per_capita'],
      dtype='object')

In [10]:
df_metrics_2 = df_metrics[['country_name', 'Year', 'Total_Population','CO2_Emissions_by_Sector_Building',
       'CO2_Emissions_by_Sector_Bunker_Fuels',
       'CO2_Emissions_by_Sector_Electricity_Heat',
       'CO2_Emissions_by_Sector_Energy',
       'CO2_Emissions_by_Sector_Fugitive_Emissions',
       'CO2_Emissions_by_Sector_Industrial_Processes',
       'CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry',
       'CO2_Emissions_by_Sector_Manufacturing_Construction',
       'CO2_Emissions_by_Sector_Other_Fuel_Combustion','CO2_Emissions_by_Sector_Transportation', 'Net_Electricity_Consumption']]

In [11]:
df_metrics_2.columns

Index(['country_name', 'Year', 'Total_Population',
       'CO2_Emissions_by_Sector_Building',
       'CO2_Emissions_by_Sector_Bunker_Fuels',
       'CO2_Emissions_by_Sector_Electricity_Heat',
       'CO2_Emissions_by_Sector_Energy',
       'CO2_Emissions_by_Sector_Fugitive_Emissions',
       'CO2_Emissions_by_Sector_Industrial_Processes',
       'CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry',
       'CO2_Emissions_by_Sector_Manufacturing_Construction',
       'CO2_Emissions_by_Sector_Other_Fuel_Combustion',
       'CO2_Emissions_by_Sector_Transportation',
       'Net_Electricity_Consumption'],
      dtype='object')

In [12]:
df_metrics_2.count()

country_name                                            3080
Year                                                    3080
Total_Population                                        3044
CO2_Emissions_by_Sector_Building                        1607
CO2_Emissions_by_Sector_Bunker_Fuels                    1650
CO2_Emissions_by_Sector_Electricity_Heat                1644
CO2_Emissions_by_Sector_Energy                          1733
CO2_Emissions_by_Sector_Fugitive_Emissions               482
CO2_Emissions_by_Sector_Industrial_Processes            1291
CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry    1426
CO2_Emissions_by_Sector_Manufacturing_Construction      1514
CO2_Emissions_by_Sector_Other_Fuel_Combustion           1251
CO2_Emissions_by_Sector_Transportation                  1693
Net_Electricity_Consumption                             2076
dtype: int64

In [15]:
df_metrics_3 = df_metrics_2.dropna(how='any')

In [16]:
df_metrics_3.count()

country_name                                            345
Year                                                    345
Total_Population                                        345
CO2_Emissions_by_Sector_Building                        345
CO2_Emissions_by_Sector_Bunker_Fuels                    345
CO2_Emissions_by_Sector_Electricity_Heat                345
CO2_Emissions_by_Sector_Energy                          345
CO2_Emissions_by_Sector_Fugitive_Emissions              345
CO2_Emissions_by_Sector_Industrial_Processes            345
CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry    345
CO2_Emissions_by_Sector_Manufacturing_Construction      345
CO2_Emissions_by_Sector_Other_Fuel_Combustion           345
CO2_Emissions_by_Sector_Transportation                  345
Net_Electricity_Consumption                             345
dtype: int64

In [21]:
df_metrics_3.dtypes

country_name                                             object
Year                                                      int64
Total_Population                                        float64
CO2_Emissions_by_Sector_Building                        float64
CO2_Emissions_by_Sector_Bunker_Fuels                    float64
CO2_Emissions_by_Sector_Electricity_Heat                float64
CO2_Emissions_by_Sector_Energy                          float64
CO2_Emissions_by_Sector_Fugitive_Emissions              float64
CO2_Emissions_by_Sector_Industrial_Processes            float64
CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry    float64
CO2_Emissions_by_Sector_Manufacturing_Construction      float64
CO2_Emissions_by_Sector_Other_Fuel_Combustion           float64
CO2_Emissions_by_Sector_Transportation                  float64
Net_Electricity_Consumption                             float64
dtype: object

In [17]:
df_metrics_3.head()

,country_name,Year,Total_Population,CO2_Emissions_by_Sector_Building,CO2_Emissions_by_Sector_Bunker_Fuels,CO2_Emissions_by_Sector_Electricity_Heat,CO2_Emissions_by_Sector_Energy,CO2_Emissions_by_Sector_Fugitive_Emissions,CO2_Emissions_by_Sector_Industrial_Processes,CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry,CO2_Emissions_by_Sector_Manufacturing_Construction,CO2_Emissions_by_Sector_Other_Fuel_Combustion,CO2_Emissions_by_Sector_Transportation,Net_Electricity_Consumption
28,Algeria,2010,35977451.0,13.24,1.60,36.44,104.89,9.25,8.25,-2.41,10.69,3.57,31.71,33.84
29,Algeria,2011,36661438.0,14.61,1.62,39.30,109.95,7.06,8.19,-0.63,10.80,3.96,34.22,38.13
30,Algeria,2012,37383899.0,16.80,1.56,43.46,118.94,6.46,7.70,-0.63,10.05,3.53,38.64,42.87
31,Algeria,2013,38140135.0,18.48,1.73,42.96,122.62,6.78,7.30,-0.63,10.01,4.12,40.26,45.20
32,Algeria,2014,38923688.0,19.21,1.67,47.86,130.45,7.28,8.36,-0.63,10.23,2.37,43.51,49.21

In [20]:
df_metrics_3['country_name'].nunique()

47

In [46]:
df_classifier_1 = df_classifier[['country_name','year','income_group']]
df_classifier_2 = df_classifier_1.rename(columns={'year':'Year'})

In [47]:
df_classifier_2.head()

  country_name  Year income_group
0  Afghanistan  1990            L
1  Afghanistan  1991            L
2  Afghanistan  1992            L
3  Afghanistan  1993            L
4  Afghanistan  1994            L

In [52]:
df_classifier_2.dtypes
df_metrics_3.dtypes

country_name                                             object
Year                                                      int64
Total_Population                                        float64
CO2_Emissions_by_Sector_Building                        float64
CO2_Emissions_by_Sector_Bunker_Fuels                    float64
CO2_Emissions_by_Sector_Electricity_Heat                float64
CO2_Emissions_by_Sector_Energy                          float64
CO2_Emissions_by_Sector_Fugitive_Emissions              float64
CO2_Emissions_by_Sector_Industrial_Processes            float64
CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry    float64
CO2_Emissions_by_Sector_Manufacturing_Construction      float64
CO2_Emissions_by_Sector_Other_Fuel_Combustion           float64
CO2_Emissions_by_Sector_Transportation                  float64
Net_Electricity_Consumption                             float64
dtype: object

In [63]:
df_classifier_3 = df_classifier_2.astype({'Year':'float64'})
df_metrics_4 = df_metrics_3.astype({'Year':'float64'})

In [80]:
df_joined = pd.merge(df_metrics_4,df_classifier_3,how = 'inner',on=['country_name','Year'])

In [81]:
df_joined.columns

Index(['country_name', 'Year', 'Total_Population',
       'CO2_Emissions_by_Sector_Building',
       'CO2_Emissions_by_Sector_Bunker_Fuels',
       'CO2_Emissions_by_Sector_Electricity_Heat',
       'CO2_Emissions_by_Sector_Energy',
       'CO2_Emissions_by_Sector_Fugitive_Emissions',
       'CO2_Emissions_by_Sector_Industrial_Processes',
       'CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry',
       'CO2_Emissions_by_Sector_Manufacturing_Construction',
       'CO2_Emissions_by_Sector_Other_Fuel_Combustion',
       'CO2_Emissions_by_Sector_Transportation', 'Net_Electricity_Consumption',
       'income_group'],
      dtype='object')

In [82]:
df_joined.head()

,country_name,Year,Total_Population,CO2_Emissions_by_Sector_Building,CO2_Emissions_by_Sector_Bunker_Fuels,CO2_Emissions_by_Sector_Electricity_Heat,CO2_Emissions_by_Sector_Energy,CO2_Emissions_by_Sector_Fugitive_Emissions,CO2_Emissions_by_Sector_Industrial_Processes,CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry,CO2_Emissions_by_Sector_Manufacturing_Construction,CO2_Emissions_by_Sector_Other_Fuel_Combustion,CO2_Emissions_by_Sector_Transportation,Net_Electricity_Consumption,income_group
0,Algeria,2010.0,35977451.0,13.24,1.60,36.44,104.89,9.25,8.25,-2.41,10.69,3.57,31.71,33.84,UM
1,Algeria,2011.0,36661438.0,14.61,1.62,39.30,109.95,7.06,8.19,-0.63,10.80,3.96,34.22,38.13,UM
2,Algeria,2012.0,37383899.0,16.80,1.56,43.46,118.94,6.46,7.70,-0.63,10.05,3.53,38.64,42.87,UM
3,Algeria,2013.0,38140135.0,18.48,1.73,42.96,122.62,6.78,7.30,-0.63,10.01,4.12,40.26,45.20,UM
4,Algeria,2014.0,38923688.0,19.21,1.67,47.86,130.45,7.28,8.36,-0.63,10.23,2.37,43.51,49.21,UM

In [83]:
df_joined.loc[df_joined['income_group'] == 'H','income_group'] = 0
df_joined.loc[df_joined['income_group'] == 'UM','income_group'] = 1
df_joined.loc[df_joined['income_group'] == 'LM','income_group'] = 2
df_joined.loc[df_joined['income_group'] == 'L','income_group'] = 3

In [84]:
df_joined['income_group'].value_counts()

1    137
0    105
2    100
3      2
Name: income_group, dtype: int64

In [85]:
df_joined_final = df_joined[['Total_Population',
       'CO2_Emissions_by_Sector_Building',
       'CO2_Emissions_by_Sector_Bunker_Fuels',
       'CO2_Emissions_by_Sector_Electricity_Heat',
       'CO2_Emissions_by_Sector_Energy',
       'CO2_Emissions_by_Sector_Fugitive_Emissions',
       'CO2_Emissions_by_Sector_Industrial_Processes',
       'CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry',
       'CO2_Emissions_by_Sector_Manufacturing_Construction',
       'CO2_Emissions_by_Sector_Other_Fuel_Combustion',
       'CO2_Emissions_by_Sector_Transportation', 'Net_Electricity_Consumption',
       'income_group']]

In [86]:
file_to_save = Path('../data_files/machine_learning_dataset.csv')
file_to_save.parent.mkdir(parents=True, exist_ok=True)  
df_joined_final.to_csv(file_to_save)