In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
file_path = Path('../CSV_Tables/machine_learning_dataset.csv')
df = pd.read_csv(file_path)

In [5]:
df  = df.drop(columns='Unnamed: 0')

In [18]:
# Create features 

X = df.copy()
X = X.drop('income_group', axis=1)
X = pd.get_dummies(X)
X.head()

,Total_Population,CO2_Emissions_by_Sector_Building,CO2_Emissions_by_Sector_Bunker_Fuels,CO2_Emissions_by_Sector_Electricity_Heat,CO2_Emissions_by_Sector_Energy,CO2_Emissions_by_Sector_Fugitive_Emissions,CO2_Emissions_by_Sector_Industrial_Processes,CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry,CO2_Emissions_by_Sector_Manufacturing_Construction,CO2_Emissions_by_Sector_Other_Fuel_Combustion,CO2_Emissions_by_Sector_Transportation,Net_Electricity_Consumption
0,35977451.0,13.24,1.60,36.44,104.89,9.25,8.25,-2.41,10.69,3.57,31.71,33.84
1,36661438.0,14.61,1.62,39.30,109.95,7.06,8.19,-0.63,10.80,3.96,34.22,38.13
2,37383899.0,16.80,1.56,43.46,118.94,6.46,7.70,-0.63,10.05,3.53,38.64,42.87
3,38140135.0,18.48,1.73,42.96,122.62,6.78,7.30,-0.63,10.01,4.12,40.26,45.20
4,38923688.0,19.21,1.67,47.86,130.45,7.28,8.36,-0.63,10.23,2.37,43.51,49.21

In [19]:
X.describe()

,Total_Population,CO2_Emissions_by_Sector_Building,CO2_Emissions_by_Sector_Bunker_Fuels,CO2_Emissions_by_Sector_Electricity_Heat,CO2_Emissions_by_Sector_Energy,CO2_Emissions_by_Sector_Fugitive_Emissions,CO2_Emissions_by_Sector_Industrial_Processes,CO2_Emissions_by_Sector_Land_Use_Change_and_Forestry,CO2_Emissions_by_Sector_Manufacturing_Construction,CO2_Emissions_by_Sector_Other_Fuel_Combustion,CO2_Emissions_by_Sector_Transportation,Net_Electricity_Consumption
count,3.440000e+02,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000
mean,1.105100e+08,40.646715,12.969477,225.618837,471.452936,3.563110,19.162093,10.498285,84.528343,9.329971,107.768198,317.788314
std,2.522227e+08,100.835250,24.298160,645.506939,1274.826948,6.486544,82.573354,198.418900,313.613516,23.923493,279.633744,874.154599
min,1.624146e+06,0.010000,0.050000,0.800000,4.520000,0.010000,0.060000,-769.040000,0.220000,0.010000,0.200000,1.490000
25%,1.414964e+07,2.717500,1.560000,13.860000,34.042500,0.242500,1.092500,-12.485000,5.175000,0.995000,12.330000,25.687500
50%,3.191858e+07,6.615000,3.530000,44.765000,116.990000,1.160000,4.115000,0.260000,14.595000,2.790000,30.010000,77.605000
75%,9.250118e+07,25.007500,16.535000,151.607500,382.255000,2.790000,13.315000,33.765000,49.565000,8.087500,90.780000,206.155000
max,1.402760e+09,550.680000,143.040000,5214.200000,9531.460000,32.660000,782.000000,1101.120000,2972.980000,202.030000,1762.240000,6452.120000

In [20]:
# Define the target set.
y = df["income_group"]

In [21]:
# Check the balance of our target values
y.value_counts()

1    137
0    105
2    100
3      2
Name: income_group, dtype: int64

In [22]:
# Split into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(258, 12)
(86, 12)
(258,)
(86,)

In [23]:
#Easy Ensemble AdaBoost Classifier

# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

# Instantiate the model, train the model and make predictions
ens = EasyEnsembleClassifier(n_estimators=100, random_state=1)
ens.fit(X_train, y_train)

y_pred = ens.predict(X_test)

In [24]:
# Calculated the balanced accuracy score
from sklearn.metrics import accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.6844342251950948

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[18,  5,  0,  0],
       [ 3, 15,  5, 13],
       [ 1,  5, 14,  6],
       [ 0,  0,  0,  1]], dtype=int64)

In [26]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.82      0.78      0.94      0.80      0.86      0.72        23
          1       0.60      0.42      0.80      0.49      0.58      0.32        36
          2       0.74      0.54      0.92      0.62      0.70      0.47        26
          3       0.05      1.00      0.78      0.10      0.88      0.79         1

avg / total       0.69      0.56      0.87      0.61      0.69      0.48        86